<header>
    <div class="wrapper wrapper-header flex-row">
      <div class="title">
        <h1 class="main-title">Living the simple life</h1>
        <p class="main-subtitle">A blog exploring minimalism in life</p>
      </div>
      <nav class="main-nav">
        <ul>
          <li><a class="nav-link active" href="#">Home</a></li>
          <li><a class="nav-link" href="#">About me</a></li>
          <li><a class="nav-link" href="#">Recent posts</a></li>
        </ul>
      </nav>  
    </div>
</header>